@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  color: #383E45;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
}

li {
  list-style: none;
}

@media (max-width: 600px) {
  .about .content {
    flex-direction: column;
  }
}

/* header */

header {
  width: 100%;
  height: auto;
  padding: 10px 0;
}

header img {
  width: 120px;
  height: auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  gap: 30px;
  font-size: 0.9rem;
}

header li a:hover {
  opacity: 0.7;
}

/* main */

.mainvisual img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin-bottom: 80px;
}

@media(max-width: 600px) {
  .mainvisual img {
    height: calc(100vh - 60px);
  }
}

/* section-title */

.section-title {
  font-size: 32px;
  border-bottom: 1px solid #383E45;
  display: inline-block;
  margin: 0 0 60px;
  text-align: center;
}

/* about */

.about {
  text-align: center;
  padding: 0 29.0312px;
  margin: 0 auto 100px;
}

.about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}

.text h3 {
  margin: 10px 0;
  font-size: 16px;

}

.text p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.about .text {
  max-width: 400px;
  text-align: left;
}

@media(max-width: 600px) {
  .about {
    padding: 0 16px;
  }

  .about img {
    margin: 0;
  }
}

/* bicycle */

.bicycle {
  text-align: center;
  margin-bottom: 100px;
}

.bicycle ul {
  display: flex;
  justify-content: space-between;
}

.bicycle li {
  width: 32%;
}

.bicycle h3 {
  font-size: 1rem;
  margin: 10px 0;
}

.bicycle p {
  font-size: 0.9rem;
}

/* media */
@media(max-width: 600px) {

  .bicycle {
    margin: 0 auto 100px;
    padding: 0 16px;
  }

  .bicycle ul {
    flex-direction: column;
    align-items: center;
  }

  .bicycle ul li{
    width: 100%;
    margin-bottom: 30px;
  }

  .bicycle img {
    
  }
}



/* footer */

footer {
  text-align: center;
  padding: 10px 0;
  margin: 0;
  font-size: 8px;
}

