@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  color: #383E45;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* header */

.header {
  margin: 0 195.5px;
  padding: 0 54.0312px;
}

.logo img {
  width: 120px;
  height: 40px;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li a:hover {
  opacity: 0.7;
}

/* main */

.mainvisual img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin-bottom: 80px;
}

/* section-title */

.section-title {
  font-size: 32px;
  border-bottom: 1px solid #383E45;
  display: inline-block;
  margin: 0 0 60px;
  text-align: center;
}

/* about */

.about {
  text-align: center;
  padding: 0 29.0312px;
  margin: 0 auto 100px;
}

.about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}

.text h3 {
  font-size: 16px;
  margin: 10px 0;
}

.text p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.about .text {
  max-width: 400px;
  text-align: left;
}

/* bicycle */

.bicycle {
  text-align: center;
  padding: 0 54.0312px;
  margin: 0 195.5px 100px;
}

.bicycle ul {
  flex: 1;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.bicycle img {
  width: 272.59px;
  height: 180.59px;
}

.bicycle h3 {
  font-size: 16px;
  margin: 10px 0;
}

.bicycle p {
  font-size: 14.4px;
  padding: 0;
  margin: 0;
}

/* footer */

footer {
  text-align: center;
  padding: 10px 0;
  margin: 0;
  font-size: 8px;
}

/* media */

@media (max-width: 600px) {
  .about .content {
    flex-direction: column;
  }

  /* main */

  .mainvisual img {
    height: 300px;
  }

  /* about */

  .about {
    padding: 0 16px;
  }

  .about img {
    margin: 0;
    padding: 0;
  }

  /* bicycle */

  .bicycle{
    padding: 0 16px;
  }

  .bicycle ul {
    flex-direction: column;
    align-items: center;
  }

  .bicycle h3 {
    margin: 10px 0;
  }

  .bicycle li {
    width: 90%;
  }

  .bicycle img {
    width: 490px;
    height: 324px;
  }

}